label{
    font-size: 10px;
    color: #949292
}

p{
    font-size: 12px;
    
}

.card {
    margin: 0 auto;
}

.imagem-grafico img {
    width: 100%;
    margin-top: 50px;
}

li {
    list-style: none;
   
}
.task {
   
    color: #2faade;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 1rem 0;
    margin-left: 0;
  }
button a {
    text-decoration: none;
    color: #a92121;
}

