@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    font-family: 'Roboto Mono', monospace
}
label{
    font-size: 10px;
    color: #949292
}

p{
    font-size: 12px;
    
}

.card {
    margin: 0 auto;
}

.imagem-grafico img {
    width: 100%;
    margin-top: 50px;
}

li {
    list-style: none;
   
}
.task {
   
    color: #2faade;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 1rem 0;
    margin-left: 0;
  }
button a {
    text-decoration: none;
    color: #a92121;
}

.btn-mais{
    float: left;
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    border: #a92121 solid 1px;
    border-radius: 100%;
   
    background-color: transparent;
    width: 70px;
    height: 70px;
    

    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn-mais a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

