<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="card border border-primary" style="width: 6rem; height: 3rem;">
        <p class="card-subtitle mb-2 m-1 text-primary">Essenciail 50%</p>
        <p class="card-text m-1" id="gastoEssencial">R$</p>
    </div>
    <div class="card border border-danger" style="width: 6rem; height: 3rem;">
        <p class="card-subtitle mb-2 m-1 text-danger">Educação 5%</p>
        <p class="card-text m-1" id="gastoEssencial">R$</p>
    </div>
    <div class="card border border-info" style="width: 6rem; height: 3rem;">
        <p class="card-subtitle mb-2 m-1 text-info">Recompensa 10%</p>
        <p class="card-text m-1" id="gastoEssencial">R$</p>
    </div>
    <div class="card border border-warning" style="width: 6rem; height: 3rem;">
        <p class="card-subtitle mb-2 m-1 text-warning"> Metas 20%</p>
        <p class="card-text m-1" id="gastoEssencial">R$</p>
    </div>

      <script src="../bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>